@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  max-width: 980px;
  margin: 0 auto;
}
